.foot-text {
  background: linear-gradient(50deg, #4facfe, #b600fe);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Loader Container */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full page height */
  background: linear-gradient(to right, #4facfe, #b600fe);
  color: white;
  font-family: Arial, sans-serif;
}

/* Loader Animation */
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
  border-top: 4px solid #000000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spin Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Page Content */
.content {
  text-align: center;
  margin-top: 50px;
}
